.navbar {
    width: 100%;
    height: 65px;
    line-height: 65px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 2px 5px 0px, rgba(0, 0, 0, 0.1) 0px 2px 7px 0px;
    font-family: Bungee;
    font-size: 30px;
    text-align: center;
    position: fixed;
    z-index: 100;

    .prods {
        position: absolute;
        right: 10px;
        top:10px;
        width: 110px;
        height: 45px;
        line-height: 35px;
        font-family: Lato;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #3498db;
        font-size: 15px;
        color: white;
        text-decoration: none;

        &:hover {
            opacity: .5;
        }
    }
}